<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>    
  <add name="JobZoomEntities" connectionString="metadata=res://*/JobZoomDataModel.csdl|res://*/JobZoomDataModel.ssdl|res://*/JobZoomDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CONGPHUCLE-MSFT;initial catalog=JobZoom;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>