@{
    ViewBag.Title = "Education";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.ActionLink("1.Basic", "Basic", "ProfileEdit")
@Html.ActionLink("2.Education", "Education", "ProfileEdit")
@Html.ActionLink("3.Work", "Work", "ProfileEdit")
<h2>Education</h2>
