@{
    ViewBag.Title = "EducationExperience";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Education Experience</h2>
@Html.ActionLink("1. Edit Profile Basic", "Basic", "ProfileEdit")
@Html.ActionLink("2. Edit Profile Education Experience", "EducationExperience", "ProfileEdit")
@Html.ActionLink("3. Edit Profile Work Experience", "WorkExperience", "ProfileEdit")