@model IEnumerable<JobZoom.Business.Entities.Job_WorkExpRequirement>


@foreach (var item in Model) {
    <fieldset>
        <legend>
            @Html.DisplayFor(modelItem => item.JobAttributeName)
        </legend>
        @Html.DisplayFor(modelItem => item.JobAttributeValue)
        <span class="edit-work ButtonLink" profileworkid="@item.JobWorkExpRequirementId">Edit</span>
    </fieldset>
}