@model JobZoom.Web.Models.JobApplyConfirmViewModel
                      
<div id="hidden-jobid" jobid="@Url.RequestContext.RouteData.Values["id"]" ></div>
@using (Html.BeginForm("Apply", "JobApply", FormMethod.Post, new { id = "ApplyConfirmView" }))
{
    @Html.HiddenFor(model => model.JobId)
    @Html.HiddenFor(model => model.UserId)    
}
<p>
ApplyWhen you complete this final step in the application process, your resume/CV will be sent to a Microsoft recruiter and you'll receive an email confirming that we've received it. A Microsoft recruiter will contact you if your application matches our current needs.
</p>
<p>
Select Resume/CVThe resume you have selected will be used for the below job openings.
</p>
<script>
    var jobid = $("#hidden-jobid").attr("jobid");
    $("#JobId").val(jobid);    
</script>