@{
    ViewBag.Title = "AppliedJobs";
}

<h2>AppliedJobs</h2>
<p>Jobs Applied For Tips</p>
<p>When you apply for a job, it is displayed in this section, and the status field shows whether the job is available. A Microsoft recruiter will contact you if your application matches our current needs.</p>
