@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.ActionLink("Edit Profile", "Basic", "ProfileEdit")
@Html.ActionLink("Resume", "index", "ProfileResume")
<h3>1. Thông tin cơ bản của Profile</h3>
<h3>2. Kèm thêm Graph của cây Job Title --> Mô hình hóa theo cây --> phục vụ demo matching</h3>

<h2>Trang Chủ Profile của Job Seeker</h2>
