USE [master]
GO
/****** Object:  Database [JobZoom]    Script Date: 12/8/2011 5:44:21 PM ******/
CREATE DATABASE [JobZoom]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'JobZoom', FILENAME = N'E:\Dev\Net framework\JobZoomNew\JobZoom.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'JobZoom_log', FILENAME = N'E:\Dev\Net framework\JobZoomNew\JobZoom_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [JobZoom].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [JobZoom]
GO
/****** Object:  StoredProcedure [dbo].[GetPivotJob]    Script Date: 12/8/2011 5:44:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPivotJob]
	@Prefix NVARCHAR(50),
	@JobTitle	NVARCHAR(128)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @listCol VARCHAR(MAX),
			@SQLString NVARCHAR(MAX),
			@viewName NVARCHAR(128)

	SET @viewName = @Prefix + @JobTitle
	SET @viewName = REPLACE(@viewName,' ','')

	SELECT  @listCol = STUFF(( SELECT DISTINCT '],[' + ltrim(TagName)
							FROM TagAttribute
							INNER JOIN [Job.Posting] on [Job.Posting].JobPostingId = TagAttribute.ObjectId
							WHERE [Job.Posting].JobTitle= @JobTitle
							ORDER BY '],[' + ltrim(TagName)							
							FOR XML PATH('')), 1, 2, '') + ']'

	--DROP VIEW PivotJob
	SET @SQLString = N'IF EXISTS(SELECT TABLE_NAME FROM INFORMATION_SCHEMA.VIEWS 
						WHERE TABLE_NAME =''' + @viewName +  ''')
						DROP VIEW '+  @viewName
	EXECUTE (@SQLString)

	SET @SQLString = N'CREATE VIEW ' + @viewName + ' AS
						SELECT row_number() over (order by pvt.ProfileBasicId desc) as ID, pvt.* FROM (
							SELECT [Job.Posting].JobPostingId, [Job.Posting].UserId, [Job.Posting].CompanyId, [Job.Posting].CompanyName, [Job.Posting].JobTitle, [Job.Approval].IsApproved, TagAttribute.TagName 
							FROM [Job.Posting]
							INNER JOIN TagAttribute on [Job.Posting].JobPostingId = TagAttribute.ObjectId
							LEFT JOIN [Job.Approval] ON [Job.Approval].JobPostingId = [Job.Posting].JobPostingId
							WHERE [Job.Posting].JobTitle = '''+ @JobTitle + '''
							Group by [Job.Posting].JobPostingId, [Job.Posting].UserId, [Job.Posting].CompanyId, [Job.Posting].CompanyName, [Job.Posting].JobTitle, [Job.Approval].IsApproved, TagAttribute.TagName 
						)t
						PIVOT (COUNT(TagName) FOR TagName
						IN ('+@listCol+')) AS pvt'						
	EXECUTE (@SQLString)

END

GO
/****** Object:  StoredProcedure [dbo].[GetPivotProfile]    Script Date: 12/8/2011 5:44:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPivotProfile]
	@Prefix NVARCHAR(50),
	@JobTitle	NVARCHAR(128)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @listCol VARCHAR(MAX),
			@SQLString NVARCHAR(MAX),
			@viewName NVARCHAR(128)

	SET @viewName = @Prefix + @JobTitle
	SET @viewName = REPLACE(@viewName,' ','')

	SELECT  @listCol = STUFF(( SELECT DISTINCT '],[' + ltrim(TagName)
							FROM TagAttribute
							INNER JOIN [Profile.Basic] on [Profile.Basic].ProfileBasicId = TagAttribute.ObjectId
							LEFT JOIN [Job.Approval] ON [Job.Approval].ProfileID = [Profile.Basic].ProfileBasicId
							INNER JOIN [Job.Posting] ON [Job.Posting].JobPostingId = [Job.Approval].JobPostingId
							WHERE [Job.Posting].JobTitle = @JobTitle
							ORDER BY '],[' + ltrim(TagName)
							FOR XML PATH('')), 1, 2, '') + ']'

	SET @SQLString = N'IF EXISTS(SELECT TABLE_NAME FROM INFORMATION_SCHEMA.VIEWS 
						WHERE TABLE_NAME =''' + @viewName +  ''')
						DROP VIEW '+  @viewName
	EXECUTE (@SQLString)

	SET @SQLString = N'CREATE VIEW ' + @viewName + ' AS
					SELECT row_number() over (order by pvt.ProfileBasicId desc) as ID, pvt.* FROM (
						SELECT [Profile.Basic].ProfileBasicId, [Profile.Basic].UserId, [Job.Approval].JobPostingId, [Job.Posting].JobTitle, [Job.Approval].IsApproved, TagAttribute.TagName
						FROM [Profile.Basic]
						INNER JOIN TagAttribute on [Profile.Basic].ProfileBasicId = TagAttribute.ObjectId
						LEFT JOIN [Job.Approval] ON [Job.Approval].ProfileID = [Profile.Basic].ProfileBasicId
						INNER JOIN [Job.Posting] ON [Job.Posting].JobPostingId = [Job.Approval].JobPostingId
						WHERE [Job.Posting].JobTitle = '''+ @JobTitle + '''
						GROUP BY [Profile.Basic].ProfileBasicId, [Profile.Basic].UserId, [Job.Approval].JobPostingId, [Job.Posting].JobTitle, [Job.Approval].IsApproved, TagAttribute.TagName					
					)t
					PIVOT (COUNT(TagName) FOR TagName
					IN ('+@listCol+')) AS pvt'
				
	EXECUTE (@SQLString)
END


GO
/****** Object:  Table [dbo].[Company]    Script Date: 12/8/2011 5:44:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company](
	[CompanyId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](128) NOT NULL,
	[Industry] [nvarchar](256) NULL,
	[CompanySize] [nvarchar](128) NULL,
	[AddressLine1] [nvarchar](255) NULL,
	[AddressLine2] [nvarchar](255) NULL,
	[Country] [nvarchar](64) NULL,
	[City] [nvarchar](64) NULL,
	[State] [nvarchar](64) NULL,
	[Phone] [nvarchar](64) NULL,
	[MobilePhone] [nvarchar](64) NULL,
	[Fax] [nvarchar](64) NULL,
	[Website] [nvarchar](255) NULL,
	[Faceboook] [nvarchar](255) NULL,
	[Twitter] [nvarchar](255) NULL,
	[Linkedin] [nvarchar](255) NULL,
	[Logo] [nvarchar](255) NULL,
	[Email] [nvarchar](255) NULL,
 CONSTRAINT [PK_Company] PRIMARY KEY CLUSTERED 
(
	[CompanyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DecisionTreeNode]    Script Date: 12/8/2011 5:44:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DecisionTreeNode](
	[NODEID] [varchar](100) NOT NULL,
	[NODE_TYPE] [int] NULL,
	[NODE_CAPTION] [nvarchar](256) NULL,
	[CHILDREN_CARDINALITY] [int] NULL,
	[PARENTID] [varchar](100) NULL,
	[NODE_DESCRIPTION] [ntext] NULL,
	[NODE_RULE] [ntext] NULL,
	[MARGINAL_RULE] [ntext] NULL,
	[NODE_PROBABILITY] [float] NULL,
	[MARGINAL_PROBABILITY] [float] NULL,
	[NODE_SUPPORT] [float] NULL,
	[MSOLAP_MODEL_COLUMN] [nvarchar](256) NULL,
	[MSOLAP_NODE_SCORE] [float] NULL,
	[MSOLAP_NODE_SHORT_CAPTION] [nvarchar](256) NULL,
	[ATTRIBUTE_NAME] [nvarchar](256) NULL,
 CONSTRAINT [PK__Decision__8EC5FA20014935CB] PRIMARY KEY CLUSTERED 
(
	[NODEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DecisionTreeNodeDistribution]    Script Date: 12/8/2011 5:44:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DecisionTreeNodeDistribution](
	[NODEID] [varchar](100) NOT NULL,
	[ATTRIBUTE_NAME] [nvarchar](256) NULL,
	[ATTRIBUTE_VALUE] [nvarchar](7) NULL,
	[SUPPORT] [float] NULL,
	[PROBABILITY] [float] NULL,
	[VARIANCE] [float] NULL,
	[VALUETYPE] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Job.Approval]    Script Date: 12/8/2011 5:44:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Job.Approval](
	[JobApprovalId] [uniqueidentifier] NOT NULL,
	[JobPostingId] [uniqueidentifier] NOT NULL,
	[ProfileID] [uniqueidentifier] NOT NULL,
	[UserId] [nvarchar](128) NULL,
	[IsApplied] [bit] NULL,
	[IsApproved] [bit] NULL,
 CONSTRAINT [PK_JobApproval] PRIMARY KEY CLUSTERED 
(
	[JobApprovalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Job.EducationExpRequirement]    Script Date: 12/8/2011 5:44:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Job.EducationExpRequirement](
	[JobEducationExpRequirementId] [uniqueidentifier] NOT NULL,
	[JobPostingId] [uniqueidentifier] NOT NULL,
	[JobAttributeName] [nvarchar](256) NOT NULL,
	[JobAttributeValue] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_JobEducationExpRequirement] PRIMARY KEY CLUSTERED 
(
	[JobEducationExpRequirementId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Job.OtherRequirement]    Script Date: 12/8/2011 5:44:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Job.OtherRequirement](
	[JobOtherRequirementId] [uniqueidentifier] NOT NULL,
	[JobPostingId] [uniqueidentifier] NOT NULL,
	[JobAttributeName] [nvarchar](256) NOT NULL,
	[JobAttributeValue] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_JobOtherRequirement] PRIMARY KEY CLUSTERED 
(
	[JobOtherRequirementId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Job.Posting]    Script Date: 12/8/2011 5:44:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Job.Posting](
	[JobPostingId] [uniqueidentifier] NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[CompanyId] [uniqueidentifier] NULL,
	[CompanyName] [nvarchar](128) NULL,
	[JobTitle] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_JobPosting] PRIMARY KEY CLUSTERED 
(
	[JobPostingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Job.WorkExpRequirement]    Script Date: 12/8/2011 5:44:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Job.WorkExpRequirement](
	[JobWorkExpRequirementId] [uniqueidentifier] NOT NULL,
	[JobPostingId] [uniqueidentifier] NOT NULL,
	[JobAttributeName] [nvarchar](256) NOT NULL,
	[JobAttributeValue] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_JobWorkExpRequirement] PRIMARY KEY CLUSTERED 
(
	[JobWorkExpRequirementId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Profile.Basic]    Script Date: 12/8/2011 5:44:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profile.Basic](
	[ProfileBasicId] [uniqueidentifier] NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Gender] [nvarchar](10) NOT NULL,
	[Birthdate] [datetime] NOT NULL,
	[MaritalStatus] [nvarchar](50) NOT NULL,
	[ProfilePictureUrl] [nvarchar](255) NULL,
	[AddressLine1] [nvarchar](255) NULL,
	[AddressLine2] [nvarchar](255) NULL,
	[Country] [nvarchar](128) NULL,
	[City] [nvarchar](128) NULL,
	[ZipCode] [int] NULL,
	[Phone] [nvarchar](50) NULL,
	[MobilePhone] [nvarchar](50) NULL,
	[Website] [nvarchar](50) NULL,
	[Facebook] [nvarchar](128) NULL,
	[Twitter] [nvarchar](128) NULL,
 CONSTRAINT [PK_ProfileBasic] PRIMARY KEY CLUSTERED 
(
	[ProfileBasicId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Profile.Education]    Script Date: 12/8/2011 5:44:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profile.Education](
	[ProfileEducationId] [uniqueidentifier] NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[SchoolUniversityId] [uniqueidentifier] NULL,
	[SchoolUniversityName] [nvarchar](128) NOT NULL,
	[Major] [nvarchar](128) NOT NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[CurrentlyLearn] [bit] NULL,
	[Description] [nvarchar](512) NULL,
 CONSTRAINT [PK_ProfileEducation] PRIMARY KEY CLUSTERED 
(
	[ProfileEducationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Profile.Work]    Script Date: 12/8/2011 5:44:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profile.Work](
	[ProfileWorkId] [uniqueidentifier] NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[CompanyId] [uniqueidentifier] NULL,
	[CompanyName] [nvarchar](128) NOT NULL,
	[JobTitle] [nvarchar](128) NOT NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[CurrentlyWork] [bit] NULL,
	[Description] [nvarchar](512) NULL,
 CONSTRAINT [PK_ProfileWork] PRIMARY KEY CLUSTERED 
(
	[ProfileWorkId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SimilarityTerm]    Script Date: 12/8/2011 5:44:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SimilarityTerm](
	[ID] [char](36) NOT NULL,
	[Keyword1] [nvarchar](128) NOT NULL,
	[Keyword2] [nvarchar](128) NOT NULL,
	[Rate] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TagAttribute]    Script Date: 12/8/2011 5:44:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TagAttribute](
	[TagId] [uniqueidentifier] NOT NULL,
	[TagName] [nvarchar](256) NOT NULL,
	[Weight] [smallint] NULL,
	[Level] [smallint] NULL,
	[Required] [bit] NULL,
	[TableReference] [varchar](128) NULL,
	[ObjectId] [uniqueidentifier] NULL,
	[ParentId] [uniqueidentifier] NULL,
	[ParentName] [nvarchar](256) NULL,
	[Attachment] [nvarchar](200) NULL,
	[ModifiedDate] [datetime] NULL,
	[Status] [varchar](128) NULL,
 CONSTRAINT [PK_TagAttribute] PRIMARY KEY CLUSTERED 
(
	[TagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[User]    Script Date: 12/8/2011 5:44:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](128) NOT NULL,
	[Password] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[PivotDeveloper]    Script Date: 12/8/2011 5:44:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[PivotDeveloper] AS
					SELECT row_number() over (order by pvt.ProfileBasicId desc) as ID, pvt.* FROM (
						SELECT [Profile.Basic].ProfileBasicId, [Profile.Basic].UserId, [Job.Approval].JobPostingId, [Job.Posting].JobTitle, [Job.Approval].IsApproved, TagAttribute.TagName
						FROM [Profile.Basic]
						INNER JOIN TagAttribute on [Profile.Basic].ProfileBasicId = TagAttribute.ObjectId
						LEFT JOIN [Job.Approval] ON [Job.Approval].ProfileID = [Profile.Basic].ProfileBasicId
						INNER JOIN [Job.Posting] ON [Job.Posting].JobPostingId = [Job.Approval].JobPostingId
						WHERE [Job.Posting].JobTitle LIKE '%Developer%'
						GROUP BY [Profile.Basic].ProfileBasicId, [Profile.Basic].UserId, [Job.Approval].JobPostingId, [Job.Posting].JobTitle, [Job.Approval].IsApproved, TagAttribute.TagName					
					)t
					PIVOT (COUNT(TagName) FOR TagName
					IN ([.NET],[.NET 4.0],[AJAX],[Android],[ASP.NET],[ASP.NET MVC],[C#],[C# 4.0],[C/C++],[CSS],[Database],[Elipse],[HTML],[HTML5],[ios],[iphone],[Java],[Javascript],[JQuery],[LINQ],[MFC],[Mobile],[Mobile Development],[MySQL],[Objective C],[PHP],[Python],[Ruby],[Ruby on Rails],[Sharepoint],[Silverlight],[SQL],[SQL Server],[SQL Server 2008],[Visual Basic],[Visual Studio],[Visual Studio 2010],[WCF],[Web Development],[Windows Form],[Windows Phone],[WPF],[XML])) AS pvt

GO
/****** Object:  View [dbo].[PivotDeveloperEvangelist]    Script Date: 12/8/2011 5:44:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[PivotDeveloperEvangelist] AS
					SELECT row_number() over (order by pvt.ProfileBasicId desc) as ID, pvt.* FROM (
						SELECT [Profile.Basic].ProfileBasicId, [Profile.Basic].UserId, [Job.Approval].JobPostingId, [Job.Posting].JobTitle, [Job.Approval].IsApproved, TagAttribute.TagName
						FROM [Profile.Basic]
						INNER JOIN TagAttribute on [Profile.Basic].ProfileBasicId = TagAttribute.ObjectId
						LEFT JOIN [Job.Approval] ON [Job.Approval].ProfileID = [Profile.Basic].ProfileBasicId
						INNER JOIN [Job.Posting] ON [Job.Posting].JobPostingId = [Job.Approval].JobPostingId
						WHERE [Job.Posting].JobTitle = 'Developer Evangelist'
						GROUP BY [Profile.Basic].ProfileBasicId, [Profile.Basic].UserId, [Job.Approval].JobPostingId, [Job.Posting].JobTitle, [Job.Approval].IsApproved, TagAttribute.TagName					
					)t
					PIVOT (COUNT(TagName) FOR TagName
					IN ([.NET],[.NET 4.0],[AJAX],[Android],[ASP.NET],[ASP.NET MVC],[C#],[C# 4.0],[C/C++],[CSS],[Database],[Elipse],[HTML],[HTML5],[ios],[iphone],[Java],[Javascript],[JQuery],[LINQ],[MFC],[Mobile],[Mobile Development],[MySQL],[Objective C],[PHP],[Python],[Ruby],[Ruby on Rails],[Sharepoint],[Silverlight],[SQL],[SQL Server],[SQL Server 2008],[Visual Basic],[Visual Studio],[Visual Studio 2010],[WCF],[Web Development],[Windows Form],[Windows Phone],[WPF],[XML])) AS pvt
GO
INSERT [dbo].[Job.Approval] ([JobApprovalId], [JobPostingId], [ProfileID], [UserId], [IsApplied], [IsApproved]) VALUES (N'410e5334-baba-4120-988f-0084a16c56f9', N'3ebd18fa-b14b-4a56-bafd-b1e4324f5244', N'52268257-8912-4fa3-a3fe-faf065754441', N'user0005', 1, 0)
INSERT [dbo].[Job.Approval] ([JobApprovalId], [JobPostingId], [ProfileID], [UserId], [IsApplied], [IsApproved]) VALUES (N'd639c074-8ed9-4507-a59d-021bc7414908', N'3ebd18fa-b14b-4a56-bafd-b1e4324f5244', N'9adfae21-142e-4bac-8f98-6b52524c047b', N'user0030', 1, 1)
INSERT [dbo].[Job.Approval] ([JobApprovalId], [JobPostingId], [ProfileID], [UserId], [IsApplied], [IsApproved]) VALUES (N'601bd956-a4a3-4f5a-9478-0aa6f18771e6', N'3ebd18fa-b14b-4a56-bafd-b1e4324f5244', N'3a22ac19-10ac-46c3-b553-1bb01a970473', N'user0029', 1, 1)
INSERT [dbo].[Job.EducationExpRequirement] ([JobEducationExpRequirementId], [JobPostingId], [JobAttributeName], [JobAttributeValue]) VALUES (N'7ec89c84-10da-45a7-bafb-50797244fc00', N'f4dd85cf-ce1e-e2d1-3171-650938abd2b7', N'Bằng Cấp', N'Đại học')
INSERT [dbo].[Job.EducationExpRequirement] ([JobEducationExpRequirementId], [JobPostingId], [JobAttributeName], [JobAttributeValue]) VALUES (N'f4dd85cf-ce1e-e2d1-3171-650938abd2b7', N'0e19c8ab-00f5-433e-bec9-4815ce59d1dd', N'ebÕxøPúÒMánHHzQàK4azH60UòY1øLDõgMpáS1V2kLá6ÌUEËçÃãáaÈUbvzuðímCzIVGûìÈáSØBÚnKãZãîíPEMGÉ2', N'ebÕxøPúÒMánHHzQàK4azH60UòY1øLDõgMpáS1V2kLá6ÌUEËçÃãáaÈUbvzuðímCzIVGûìÈáSØBÚnKãZãîíPEMGÉ2')
INSERT [dbo].[Job.Posting] ([JobPostingId], [UserId], [CompanyId], [CompanyName], [JobTitle]) VALUES (N'0e19c8ab-00f5-433e-bec9-4815ce59d1dd', N'ldcphuc', NULL, N'Microsoft', N'Technical Account Manager ')
INSERT [dbo].[Job.Posting] ([JobPostingId], [UserId], [CompanyId], [CompanyName], [JobTitle]) VALUES (N'f4dd85cf-ce1e-e2d1-3171-650938abd2b7', N'ldcphuc', N'1a801076-e484-306e-7c1a-a970101a7ced', N'Microsoft', N'Solution Team Unit Lead ')
INSERT [dbo].[Job.Posting] ([JobPostingId], [UserId], [CompanyId], [CompanyName], [JobTitle]) VALUES (N'f5dd85cf-ce1e-e2d1-3171-650938abd2b7', N'ldcphuc', N'9f236be6-a2e4-4c17-b514-9f82d117f58c', N'Hoa Sen University', N'Database Lecturer')
INSERT [dbo].[Job.WorkExpRequirement] ([JobWorkExpRequirementId], [JobPostingId], [JobAttributeName], [JobAttributeValue]) VALUES (N'fcabc08f-89ca-4437-80c3-31ee04571f92', N'f4dd85cf-ce1e-e2d1-3171-650938abd2b7', N'Major Skill', N'Java')
INSERT [dbo].[Job.WorkExpRequirement] ([JobWorkExpRequirementId], [JobPostingId], [JobAttributeName], [JobAttributeValue]) VALUES (N'f4dd85cf-ce1e-e2d1-3171-650938abd2b7', N'f4dd85cf-ce1e-e2d1-3171-650938abd2b7', N'Major Skill', N'Java Bean')
INSERT [dbo].[Profile.Basic] ([ProfileBasicId], [UserId], [FirstName], [LastName], [Gender], [Birthdate], [MaritalStatus], [ProfilePictureUrl], [AddressLine1], [AddressLine2], [Country], [City], [ZipCode], [Phone], [MobilePhone], [Website], [Facebook], [Twitter]) VALUES (N'58039b75-f928-4d46-8be5-02d139062346', N'user0031', N'First Name', N'Last Name', N'Nam', CAST(0x00007EA000000000 AS DateTime), N'Single', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Profile.Basic] ([ProfileBasicId], [UserId], [FirstName], [LastName], [Gender], [Birthdate], [MaritalStatus], [ProfilePictureUrl], [AddressLine1], [AddressLine2], [Country], [City], [ZipCode], [Phone], [MobilePhone], [Website], [Facebook], [Twitter]) VALUES (N'e5623bee-23d6-4d38-8ced-035cf7e59131', N'user0033', N'First Name', N'Last Name', N'Nam', CAST(0x00007EA000000000 AS DateTime), N'Single', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Profile.Basic] ([ProfileBasicId], [UserId], [FirstName], [LastName], [Gender], [Birthdate], [MaritalStatus], [ProfilePictureUrl], [AddressLine1], [AddressLine2], [Country], [City], [ZipCode], [Phone], [MobilePhone], [Website], [Facebook], [Twitter]) VALUES (N'92b39899-a05f-4ee8-8b86-0429db5a1051', N'user0044', N'First Name', N'Last Name', N'Nam', CAST(0x00007EA000000000 AS DateTime), N'Single', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Profile.Education] ([ProfileEducationId], [UserId], [SchoolUniversityId], [SchoolUniversityName], [Major], [StartDate], [EndDate], [CurrentlyLearn], [Description]) VALUES (N'1a801076-e484-306e-7c1a-a970101a7ced', N'ldcphuc', NULL, N'Hoa Sen University', N'Software Engineering', CAST(0xF6501900 AS Date), CAST(0xF6501900 AS Date), 1, N'ebÕxøPúÒMánHHzQàK4azH60UòY1øLDõgMpáS1V2kLá6ÌUEËçÃãáaÈUbvzuðímCzIVGûìÈáSØBÚnKãZãîíPEMGÉ2ÛNËìlyKâIÇôjOIÀOÙ4IZÒ4RvavBãWánCìbEÎàe5sÛÛfÒZÙÀÔ7BPfâdVKûIuÚwKõLMñèÂEfRÓãéiëÊÎVlÑpQU6HE')
INSERT [dbo].[Profile.Education] ([ProfileEducationId], [UserId], [SchoolUniversityId], [SchoolUniversityName], [Major], [StartDate], [EndDate], [CurrentlyLearn], [Description]) VALUES (N'7df5d93e-b538-427f-8703-d6391322f860', N'ldcphuc', NULL, N'Viet Duc University', N'Software Engineering', CAST(0xB9330B00 AS Date), CAST(0xB9330B00 AS Date), NULL, N'This is a test')
INSERT [dbo].[Profile.Work] ([ProfileWorkId], [UserId], [CompanyId], [CompanyName], [JobTitle], [StartDate], [EndDate], [CurrentlyWork], [Description]) VALUES (N'ca52699f-ae3f-434b-838a-3b0f8d37fba8', N'ldcphuc', NULL, N'Oracle Vietnam', N'Sale Lead', CAST(0xB9330B00 AS Date), CAST(0xB9330B00 AS Date), NULL, NULL)
INSERT [dbo].[Profile.Work] ([ProfileWorkId], [UserId], [CompanyId], [CompanyName], [JobTitle], [StartDate], [EndDate], [CurrentlyWork], [Description]) VALUES (N'1a801076-e484-306e-7c1a-a970101a7ced', N'ldcphuc', NULL, N'Microsoft Vietnam', N'Developer Evangelist', CAST(0xF6501900 AS Date), CAST(0xF6501900 AS Date), 1, N'ebÕxøPúÒMánHHzQàK4azH60UòY1øLDõgMpáS1V2kLá6ÌUEËçÃãáaÈUbvzuðímCzIVGûìÈáSØBÚnKãZãîíPEMGÉ2ÛNËìlyKâIÇôjOIÀOÙ4IZÒ4RvavBãWánCìbEÎàe5sÛÛfÒZÙÀÔ7BPfâdVKûIuÚwKõLMñèÂEfRÓãéiëÊÎVlÑpQU6HE')
INSERT [dbo].[Profile.Work] ([ProfileWorkId], [UserId], [CompanyId], [CompanyName], [JobTitle], [StartDate], [EndDate], [CurrentlyWork], [Description]) VALUES (N'00b89c19-e4a5-4b91-928f-d541b0b94fa6', N'letrunghieu', NULL, N'Hoa Sen University', N'Student', CAST(0x75250B00 AS Date), CAST(0xBC290B00 AS Date), 1, NULL)
INSERT [dbo].[TagAttribute] ([TagId], [TagName], [Weight], [Level], [Required], [TableReference], [ObjectId], [ParentId], [ParentName], [Attachment], [ModifiedDate], [Status]) VALUES (N'361d9bd7-59b6-415b-9cfd-0005a0a55f92', N'C/C++', NULL, NULL, NULL, N'Profile.Basic', N'b121bddf-7a43-4de4-9048-7ff1c90ead9b', N'e38556a2-9fa3-4783-8ede-07dff1eba7a5', N'Skill/Qualifications', NULL, CAST(0x00009F9001771F89 AS DateTime), NULL)
INSERT [dbo].[TagAttribute] ([TagId], [TagName], [Weight], [Level], [Required], [TableReference], [ObjectId], [ParentId], [ParentName], [Attachment], [ModifiedDate], [Status]) VALUES (N'd1914723-90c7-45e5-805c-00432ac5c78e', N'SQL Server 2008', NULL, NULL, NULL, N'Profile.Basic', N'f2cc887e-e5f5-4183-a23c-84fe3fdca068', N'e38556a2-9fa3-4783-8ede-07dff1eba7a5', N'Skill/Qualifications', NULL, CAST(0x00009F9001771F89 AS DateTime), NULL)
INSERT [dbo].[TagAttribute] ([TagId], [TagName], [Weight], [Level], [Required], [TableReference], [ObjectId], [ParentId], [ParentName], [Attachment], [ModifiedDate], [Status]) VALUES (N'68e3886b-be18-4a27-8e89-006108921da4', N'MFC', NULL, NULL, NULL, N'Profile.Basic', N'b121bddf-7a43-4de4-9048-7ff1c90ead9b', N'e38556a2-9fa3-4783-8ede-07dff1eba7a5', N'Skill/Qualifications', NULL, CAST(0x00009F90017749C0 AS DateTime), NULL)
GO
INSERT [dbo].[User] ([UserId], [Email], [Password]) VALUES (N'chinguyen', N'chinguyen0072003@live.com ', N'123456')
INSERT [dbo].[User] ([UserId], [Email], [Password]) VALUES (N'ldcphuc', N'happycodings@yahoo.com', N'123456')
INSERT [dbo].[User] ([UserId], [Email], [Password]) VALUES (N'letrunghieu', N'mr.letrunghieu@live.com', N'123456')
ALTER TABLE [dbo].[DecisionTreeNodeDistribution]  WITH NOCHECK ADD  CONSTRAINT [FK__DecisionT__NODEI__145C0A3F] FOREIGN KEY([NODEID])
REFERENCES [dbo].[DecisionTreeNode] ([NODEID])
GO
ALTER TABLE [dbo].[DecisionTreeNodeDistribution] CHECK CONSTRAINT [FK__DecisionT__NODEI__145C0A3F]
GO
ALTER TABLE [dbo].[Job.EducationExpRequirement]  WITH CHECK ADD  CONSTRAINT [FK_JobEducationExpRequirement_JobPosting] FOREIGN KEY([JobPostingId])
REFERENCES [dbo].[Job.Posting] ([JobPostingId])
GO
ALTER TABLE [dbo].[Job.EducationExpRequirement] CHECK CONSTRAINT [FK_JobEducationExpRequirement_JobPosting]
GO
ALTER TABLE [dbo].[Job.OtherRequirement]  WITH CHECK ADD  CONSTRAINT [FK_JobOtherRequirement_JobPosting] FOREIGN KEY([JobPostingId])
REFERENCES [dbo].[Job.Posting] ([JobPostingId])
GO
ALTER TABLE [dbo].[Job.OtherRequirement] CHECK CONSTRAINT [FK_JobOtherRequirement_JobPosting]
GO
ALTER TABLE [dbo].[Job.WorkExpRequirement]  WITH CHECK ADD  CONSTRAINT [FK_JobWorkExRequirement_JobPosting] FOREIGN KEY([JobPostingId])
REFERENCES [dbo].[Job.Posting] ([JobPostingId])
GO
ALTER TABLE [dbo].[Job.WorkExpRequirement] CHECK CONSTRAINT [FK_JobWorkExRequirement_JobPosting]
GO
ALTER TABLE [dbo].[Profile.Basic]  WITH CHECK ADD  CONSTRAINT [FK_ProfileBasic_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Profile.Basic] CHECK CONSTRAINT [FK_ProfileBasic_User]
GO
ALTER TABLE [dbo].[Profile.Education]  WITH CHECK ADD  CONSTRAINT [FK_ProfileEducation_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Profile.Education] CHECK CONSTRAINT [FK_ProfileEducation_User]
GO
ALTER TABLE [dbo].[Profile.Work]  WITH CHECK ADD  CONSTRAINT [FK_ProfileWork_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Profile.Work] CHECK CONSTRAINT [FK_ProfileWork_User]
GO
USE [master]
GO
