@{
    ViewBag.Title = "Basic";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Employer Job Posting</h2>
@Html.ActionLink("Step 1. Basic Information", "Basic", "EmployerJobPost")
@Html.ActionLink("Step 2. Resume Details", "Details", "EmployerJobPost")
@Html.ActionLink("Step 3. Candidates Recommendation", "CandidatesRecommendation", "EmployerJobPost")
<h2>Step 1. Basic Information</h2>


<div>Job ID</div>
<div>Job title</div>
<div>Company name</div>
<div>City ID</div>
<div>Country ID</div>
<div>Experience</div>
<div>Type</div>
<div>Compensation</div>
<div>Industry ID (Many)</div>
<div>Function ID (Many)</div>


