@{
    ViewBag.Title = "CandidatesRecommendation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Employer Job Posting</h2>
@Html.ActionLink("Step 1. Basic Information", "Basic", "EmployerJobPost")
@Html.ActionLink("Step 2. Resume Details", "Details", "EmployerJobPost")
@Html.ActionLink("Step 3. Candidates Recommendation", "CandidatesRecommendation", "EmployerJobPost")
<h2>Step 3. Candidates Recommendation</h2>
