USE [master]
GO
/****** Object:  Database [JobZoomEvolution]    Script Date: 10/18/2011 00:33:50 ******/
CREATE DATABASE [JobZoomEvolution] ON  PRIMARY 
( NAME = N'JobZoomEvolution', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\JobZoomEvolution.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'JobZoomEvolution_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\JobZoomEvolution_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [JobZoomEvolution].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [JobZoomEvolution]
GO
/****** Object:  Table [dbo].[User]    Script Date: 10/18/2011 00:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User](
	[ID] [char](36) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[LastLoginDate] [datetime] NULL,
	[ModifiedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[User] ([ID], [Email], [Password], [LastLoginDate], [ModifiedDate]) VALUES (N'55CD50DE-6A7B-4C9A-8E0F-C0CDF37986F7', N'example@live.com', N'123456', NULL, CAST(0x00009F7800000000 AS DateTime))
/****** Object:  Table [dbo].[Tag]    Script Date: 10/18/2011 00:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tag](
	[ID] [char](36) NOT NULL,
	[ObjectID] [char](36) NULL,
	[TagName] [nvarchar](50) NOT NULL,
	[ParentID] [char](36) NULL,
	[ModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Tag] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IDX_ParentID] ON [dbo].[Tag] 
(
	[ParentID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
INSERT [dbo].[Tag] ([ID], [ObjectID], [TagName], [ParentID], [ModifiedDate]) VALUES (N'00582D35-B6B5-486B-9B6B-B22CEFBCAE21', NULL, N'Human Resources', N'DFC1E91A-F40D-4AF8-BAC3-EB5991DF6F4F', CAST(0x00009F7F017D767E AS DateTime))
INSERT [dbo].[Tag] ([ID], [ObjectID], [TagName], [ParentID], [ModifiedDate]) VALUES (N'032D2A32-22CF-4143-BBAD-C4D598DD8F5D', NULL, N'Purchasing', N'DFC1E91A-F40D-4AF8-BAC3-EB5991DF6F4F', CAST(0x00009F7F017D767E AS DateTime))
INSERT [dbo].[Tag] ([ID], [ObjectID], [TagName], [ParentID], [ModifiedDate]) VALUES (N'048B6B82-273B-49D1-804D-3088E0FC90BF', NULL, N'Other', N'50601401-DF88-4F77-8E43-8CB2242B9EE1', CAST(0x00009F7F017D767E AS DateTime))
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
/****** Object:  Table [dbo].[Company]    Script Date: 10/18/2011 00:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Company](
	[ID] [char](36) NOT NULL,
	[UserID] [char](36) NOT NULL,
	[Name] [nvarchar](10) NOT NULL,
	[IndustryID] [int] NOT NULL,
	[CompanyType] [nvarchar](50) NULL,
	[CompanySize] [nvarchar](50) NULL,
	[AddressLine1] [varchar](50) NOT NULL,
	[AddressLine2] [varchar](50) NULL,
	[CityID] [int] NOT NULL,
	[Phone] [nvarchar](50) NULL,
	[Fax] [nvarchar](50) NULL,
	[Founded] [datetime] NULL,
	[Website] [nvarchar](50) NULL,
	[Logo] [image] NULL,
	[ModifiedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Profile]    Script Date: 10/18/2011 00:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Profile](
	[ID] [char](36) NOT NULL,
	[UserID] [char](36) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Gender] [nchar](1) NOT NULL,
	[Birthdate] [datetime] NOT NULL,
	[MaritalStatus] [nchar](1) NOT NULL,
	[Citizenship] [char](36) NOT NULL,
	[Picture] [image] NULL,
	[AddressLine1] [varchar](50) NOT NULL,
	[AddressLine2] [varchar](50) NULL,
	[CityID] [char](36) NOT NULL,
	[Phone] [nvarchar](50) NULL,
	[Mobile] [nvarchar](50) NULL,
	[AdditionalInfo] [nvarchar](100) NULL,
	[Website] [nvarchar](50) NULL,
	[ModifiedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Profile] ([ID], [UserID], [FirstName], [LastName], [Gender], [Birthdate], [MaritalStatus], [Citizenship], [Picture], [AddressLine1], [AddressLine2], [CityID], [Phone], [Mobile], [AdditionalInfo], [Website], [ModifiedDate]) VALUES (N'44CD50DE-8F7B-4C9A-8E0F-C0CDF37986F8', N'55CD50DE-6A7B-4C9A-8E0F-C0CDF37986F7', N'Nguyen', N'Phung', N'M', CAST(0x00007E6B00000000 AS DateTime), N'S', N'128931231                           ', NULL, N'2 Tan Vien', NULL, N'12312312                            ', NULL, NULL, NULL, NULL, CAST(0x00009F7800000000 AS DateTime))
/****** Object:  Table [dbo].[TagDetail]    Script Date: 10/18/2011 00:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TagDetail](
	[ID] [char](36) NOT NULL,
	[TagID] [char](36) NOT NULL,
	[Location] [nvarchar](50) NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[Description] [nvarchar](100) NULL,
	[Attachment] [nvarchar](255) NULL,
	[ModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_TagDetail] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[TagDetail] ([ID], [TagID], [Location], [StartDate], [EndDate], [Description], [Attachment], [ModifiedDate]) VALUES (N'42B54CCD-0555-40C7-BDCD-DE05B6F0FA18', N'5D0D5DD2-F11F-4466-BA62-A052A6299485', N'FPT', CAST(0x30300B00 AS Date), CAST(0x48330B00 AS Date), NULL, NULL, CAST(0x00009F7F017E8EA5 AS DateTime))
INSERT [dbo].[TagDetail] ([ID], [TagID], [Location], [StartDate], [EndDate], [Description], [Attachment], [ModifiedDate]) VALUES (N'AB0898C1-C70E-4985-B440-74DF4CC42812', N'8C287CB6-A9DA-4419-8351-66D22A82B5F9', N'Gameloft', CAST(0xE82B0B00 AS Date), CAST(0x002F0B00 AS Date), NULL, NULL, CAST(0x00009F7F017E8EA5 AS DateTime))
/****** Object:  Table [dbo].[Job]    Script Date: 10/18/2011 00:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Job](
	[ID] [char](36) NOT NULL,
	[UserID] [char](36) NOT NULL,
	[JobTitle] [nvarchar](50) NOT NULL,
	[CompanyName] [nvarchar](50) NULL,
	[ModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Job] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Job] ([ID], [UserID], [JobTitle], [CompanyName], [ModifiedDate]) VALUES (N'4ECC4CDC-EE7A-44A5-82EB-0B3DEBF22794', N'55CD50DE-6A7B-4C9A-8E0F-C0CDF37986F7', N'Tester', NULL, CAST(0x00009F7800000000 AS DateTime))
INSERT [dbo].[Job] ([ID], [UserID], [JobTitle], [CompanyName], [ModifiedDate]) VALUES (N'D27E4FCB-45DE-4399-9F81-4D6AB28853DD', N'55CD50DE-6A7B-4C9A-8E0F-C0CDF37986F7', N'Web Developer', NULL, CAST(0x00009F7800000000 AS DateTime))
INSERT [dbo].[Job] ([ID], [UserID], [JobTitle], [CompanyName], [ModifiedDate]) VALUES (N'E5BDE8B6-2719-4C78-81F0-16EA5EF91DB0', N'55CD50DE-6A7B-4C9A-8E0F-C0CDF37986F7', N'Sales', NULL, CAST(0x00009F7800000000 AS DateTime))
/****** Object:  StoredProcedure [dbo].[GetPivotProfile]    Script Date: 10/18/2011 00:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetPivotProfile]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @listCol VARCHAR(2000)
	DECLARE @SQLString NVARCHAR(1000)
	SELECT  @listCol = STUFF(( SELECT DISTINCT '],[' + ltrim(TagName)
							FROM Tag
							INNER JOIN [Profile] on [Profile].ID = Tag.ObjectID
							ORDER BY '],[' + ltrim(TagName)
							FOR XML PATH('')), 1, 2, '') + ']'
	 
	SET @SQLString = N'SELECT * FROM (
						SELECT [Profile].ID, Tag.TagName
						FROM [Profile]
						INNER JOIN Tag on [Profile].ID = Tag.ObjectID
						Group by [Profile].ID, Tag.TagName
					)t
					PIVOT (COUNT(TagName) FOR TagName
					IN ('+@listCol+')) AS pvt'
					
						
	EXECUTE (@SQLString)
END
GO
/****** Object:  StoredProcedure [dbo].[GetPivotJobRequirement]    Script Date: 10/18/2011 00:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPivotJobRequirement]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @listCol VARCHAR(2000)
	DECLARE @SQLString NVARCHAR(1000)
	SELECT  @listCol = STUFF(( SELECT DISTINCT '],[' + ltrim(TagName)
							FROM Tag
							INNER JOIN Job on Job.ID = Tag.ObjectID
							ORDER BY '],[' + ltrim(TagName)
							FOR XML PATH('')), 1, 2, '') + ']'
	 
	SET @SQLString = N'SELECT * FROM (
						SELECT Job.ID, Tag.TagName
						FROM Job
						INNER JOIN Tag on Job.ID = Tag.ObjectID
						Group by Job.ID, Tag.TagName
					)t
					PIVOT (COUNT(TagName) FOR TagName
					IN ('+@listCol+')) AS pvt'
						
	EXECUTE (@SQLString)

END
GO
/****** Object:  Table [dbo].[JobApproval]    Script Date: 10/18/2011 00:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[JobApproval](
	[ID] [char](36) NOT NULL,
	[ProfileID] [char](36) NOT NULL,
	[JobID] [char](36) NOT NULL,
	[IsApply] [bit] NULL,
	[IsApproved] [bit] NULL,
	[ModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_JobApproval] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Default [DF_Tag_ModifiedDate]    Script Date: 10/18/2011 00:33:51 ******/
ALTER TABLE [dbo].[Tag] ADD  CONSTRAINT [DF_Tag_ModifiedDate]  DEFAULT (getdate()) FOR [ModifiedDate]
GO
/****** Object:  Default [DF_Company_ModifiedDate]    Script Date: 10/18/2011 00:33:51 ******/
ALTER TABLE [dbo].[Company] ADD  CONSTRAINT [DF_Company_ModifiedDate]  DEFAULT (getdate()) FOR [ModifiedDate]
GO
/****** Object:  Default [DF_TagDetail_ModifiedDate]    Script Date: 10/18/2011 00:33:51 ******/
ALTER TABLE [dbo].[TagDetail] ADD  CONSTRAINT [DF_TagDetail_ModifiedDate]  DEFAULT (getdate()) FOR [ModifiedDate]
GO
/****** Object:  Default [DF_Job_ModifiedDate]    Script Date: 10/18/2011 00:33:51 ******/
ALTER TABLE [dbo].[Job] ADD  CONSTRAINT [DF_Job_ModifiedDate]  DEFAULT (getdate()) FOR [ModifiedDate]
GO
/****** Object:  Default [DF_JobApproval_ModifiedDate]    Script Date: 10/18/2011 00:33:51 ******/
ALTER TABLE [dbo].[JobApproval] ADD  CONSTRAINT [DF_JobApproval_ModifiedDate]  DEFAULT (getdate()) FOR [ModifiedDate]
GO
/****** Object:  ForeignKey [FK_Tag_ParentTag]    Script Date: 10/18/2011 00:33:51 ******/
ALTER TABLE [dbo].[Tag]  WITH NOCHECK ADD  CONSTRAINT [FK_Tag_ParentTag] FOREIGN KEY([ParentID])
REFERENCES [dbo].[Tag] ([ID])
GO
ALTER TABLE [dbo].[Tag] NOCHECK CONSTRAINT [FK_Tag_ParentTag]
GO
/****** Object:  ForeignKey [FK_Company_User]    Script Date: 10/18/2011 00:33:51 ******/
ALTER TABLE [dbo].[Company]  WITH CHECK ADD  CONSTRAINT [FK_Company_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Company] CHECK CONSTRAINT [FK_Company_User]
GO
/****** Object:  ForeignKey [FK_Profile_User]    Script Date: 10/18/2011 00:33:51 ******/
ALTER TABLE [dbo].[Profile]  WITH CHECK ADD  CONSTRAINT [FK_Profile_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Profile] CHECK CONSTRAINT [FK_Profile_User]
GO
/****** Object:  ForeignKey [FK_TagDetail_Tag]    Script Date: 10/18/2011 00:33:51 ******/
ALTER TABLE [dbo].[TagDetail]  WITH CHECK ADD  CONSTRAINT [FK_TagDetail_Tag] FOREIGN KEY([TagID])
REFERENCES [dbo].[Tag] ([ID])
GO
ALTER TABLE [dbo].[TagDetail] CHECK CONSTRAINT [FK_TagDetail_Tag]
GO
/****** Object:  ForeignKey [FK_Job_User]    Script Date: 10/18/2011 00:33:51 ******/
ALTER TABLE [dbo].[Job]  WITH CHECK ADD  CONSTRAINT [FK_Job_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Job] CHECK CONSTRAINT [FK_Job_User]
GO
/****** Object:  ForeignKey [FK_JobApproval_Job]    Script Date: 10/18/2011 00:33:51 ******/
ALTER TABLE [dbo].[JobApproval]  WITH CHECK ADD  CONSTRAINT [FK_JobApproval_Job] FOREIGN KEY([JobID])
REFERENCES [dbo].[Job] ([ID])
GO
ALTER TABLE [dbo].[JobApproval] CHECK CONSTRAINT [FK_JobApproval_Job]
GO
/****** Object:  ForeignKey [FK_JobApproval_Profile]    Script Date: 10/18/2011 00:33:51 ******/
ALTER TABLE [dbo].[JobApproval]  WITH CHECK ADD  CONSTRAINT [FK_JobApproval_Profile] FOREIGN KEY([ProfileID])
REFERENCES [dbo].[Profile] ([ID])
GO
ALTER TABLE [dbo].[JobApproval] CHECK CONSTRAINT [FK_JobApproval_Profile]
GO
