<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="JobZoomCoreEntities" connectionString="metadata=res://*/CoreEntitiesModel.csdl|res://*/CoreEntitiesModel.ssdl|res://*/CoreEntitiesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CONGPHUCLE-MSFT;initial catalog=JobZoom;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>